<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kdc.reef.john.reefcaluclators">

    <uses-sdk android:minSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tankVolume" />
        <activity android:name=".Calculators" />
        <activity android:name=".PartDosing" />
        <activity android:name=".TankInhabitants" />
        <activity android:name=".FishList" />
        <activity android:name=".CoralList" />
        <activity android:name=".InvertsList" />
        <activity android:name=".CoralSelected" />
        <activity android:name=".Alkalinity" />
        <activity android:name=".Calcium" />
        <activity android:name=".ChangeDefaults" />
        <activity android:name=".FishSelected" />
        <activity android:name=".InvertsSelected" />
        <activity android:name=".Upgrade" />
        <activity android:name=".ReefTests" />
        <activity android:name=".SelectedTest" />
        <activity android:name=".Graph"></activity>
    </application>

</manifest>